
<template name="about">
	<div class="container">
		<div class="row">
	      	<div class="col-md-8">
		        <div class="row">
			        <div class="col-md-12">
			            <div class="panel panel-default">
				            <div class="panel-heading">
				            	<span aria-hidden="true"></span> Sobre nosotros
				            </div>
				            
				            <div class="panel-body text-justify">
				            	
			                	<h4>¿Qué hacemos?</h4>
			                		<p>classOpen es un proveedor de servicios en línea que permite a cualquiera crear y gestionar su presencia en línea con un potente y brillante sitio web. Ofrecemos dos plataformas una dirigida a aquellos que quieren construir una red social, y una para aquellos que están más interesados ​​en la construcción de una casa en línea para su grupo existente.</p>
			                
			              		<h4>Nuestros servicios</h4>
                				<div class="row">

                							<div class="col-md-2">
                								<a href="https://scontent.cdninstagram.com/t51.2885-15/e15/11374659_1148482475177590_1930803604_n.jpg" class="example1"><img src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/11374659_1148482475177590_1930803604_n.jpg" alt=""></a>
                							</div>
                							<br>
                							<div class="col-md-2">
                								<a href="https://scontent.cdninstagram.com/t51.2885-15/e15/11357286_657664234365188_1683766646_n.jpg" class="example1"><img src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/11357286_657664234365188_1683766646_n.jpg" alt=""></a>
                							</div>
                							<br>
                							<div class="col-md-2">
                								<a href="https://scontent.cdninstagram.com/t51.2885-15/e15/11326513_751866741578314_1489587618_n.jpg" class="example1"><img src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/11326513_751866741578314_1489587618_n.jpg" alt=""></a>
                							</div>
                							<br>
                							<div class="col-md-2">
                								<a href="https://scontent.cdninstagram.com/t51.2885-15/e15/11379819_1001324456547361_535671298_n.jpg" class="example1"><img src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/11379819_1001324456547361_535671298_n.jpg" alt=""></a>
                							</div>
                							<br>
                							<div class="col-md-2">
                								<a href="https://scontent.cdninstagram.com/t51.2885-15/e15/11357286_657664234365188_1683766646_n.jpg" class="example1"><img src="https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/11357286_657664234365188_1683766646_n.jpg" alt=""></a>
                							</div>
                				</div>
				            </div>	               			
			            </div>
			        </div>
		        </div>
	      	</div>

	      	<div class="col-md-4">
	        	<div class="row">
			        <div class="col-sm-12">
			            <div class="row">

				            <div class="panel panel-default">
				                <div class="panel-heading">
				                  	<span aria-hidden="true"></span> ¿Quieres preguntarnos algo?
				                </div>
				                <div class="panel-body">
				                  	
				                  		<span class="ab_hp">Envíenos un correo electrónico a 
				            				<a href="mailto:support@classopen.com" class="link_text2">apoyo@classopen.com</a>
				            			</span>
				        				<br><br>
				                  		<span class="ab_hp">O visite el 
				                			<a href="/help" class="link_text2 below">Centro de ayuda</a>
				                		</span>
				                  	
				    	    		<ul class="blog">
										<h6>Últimas noticias en el blog.</h6>
				        	    	</ul>
				                </div>
				            </div>

				            <div class="panel panel-default">
				                <div class="panel-heading">
				                  	<span class="fa fa-search" aria-hidden="true"></span> Busqueda
				                </div>
				                <div class="panel-body">
				                  	<div class="form-group">
				                    	<input type="search" class="form-control" name="" value="" placeholder="Introduce texto a buscar...">
				                  	</div>
				                  	<button class="form-control btn-search" name="button">Buscar</button>
				                </div>
				            </div>
				            
			            </div>
			        </div>
		        </div>
	      	</div>
    	</div>
	</div>

</template>

