

<template name="footer">
	
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-1 padding-top-10">
							<i class="fa fa-map-marker contact" aria-hidden="true"></i>
						</div>
						<div class="col-md-6">
							<p>
								Calle Mcal.Santa Cruz # 4
								<h5>Potosi, Bolivia</h5>
							</p>
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-md-1 padding-bottom-10">
							<i class="fa fa-phone contact" aria-hidden="true"></i>
						</div>
						<div class="col-md-6">
							
								<h5>+00 (591) 72428899</h5>
							
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-md-1">
							<i class="fa fa-envelope contact" aria-hidden="true"></i>
						</div>
						<div class="col-md-6">
							
								<h5 class="color-font">classopen@gmail.com</h5>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row text-center">
						<h5>SOBRE LA PLATAFORMA</h5>
					</div>
					<div class="row text-justify">
						<p>La plataforma es gran apertura para la educacion, ofreciendo grandes beneficios y conllevando a que de saberla administrar, manejar y colaborar significativamente en alcanzar esa calidad academica y una nueva vision de compromiso de los docentes tomando en cuenta el alcance, y las repercuciones sobre las TICs.</p>
					</div>
					<div class="row margin-top-10">
						<div class="col-md-3">
							<a href="https://www.facebook.com/classOpen"><i class="fa fa-facebook social" aria-hidden="true"></i></a>
						</div>
						<div class="col-md-3">
							<a href="https://twitter.com/classOpen"><i class="fa fa-twitter social" aria-hidden="true"></i></a>
							</div>
						<div class="col-md-3">
							<a href="https://plus.google.com/+classOpen/posts"><i class="fa fa-google-plus social" aria-hidden="true"></i></a>
						</div>
						<div class="col-md-3">
							<a href="https://github.com/classOpen/"><i class="fa fa-github social" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</template>